.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 20px;
    height: 100%;
    position: relative;
    .job_list {
        .job_container {
            .add_btn {
                float: left;
                display: block;
                padding: 0 14px;
                line-height: 32px;
                background-color: #62d5c8;
                border: 1px solid #62d5c8;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                margin-right: 10px;
                a {
                    color: #fff;
                    letter-spacing: 1px;
                }
            }
            .job_list_wrap {
                padding-top: 46px;
                .job_list_content {
                    display: table;
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 2px;
                    border-color: grey;
                    li {
                        height: 116px;
                        background: #ffffff;
                        font-size: 14px;
                        border-bottom: 1px solid #eef0f5;
                        display: table-row;
                        &.non_checked {
                            color: #9fa3b0;
                        }
                    }
                }
            }
        }
    }
}
