@import '@/globalStyle.scss';
.header {
    height: 53px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.13);
    min-width: 1184px;
    .boss_v {
        width: 160px;
        box-sizing: border-box;
        height: 53px;
        line-height: 53px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-weight: 200;
        background: #18c3b1;
        float: left;
    }
    .inner {
        width: 1184px;
        min-width: 1020px;
        margin: 0 auto;
        height: 53px;
        .user_info {
            float: right;
            line-height: 53px;
            color: #434343;
            position: relative;
            .switch {
                font-size: 13px;
                cursor: pointer;
                color: #ee6340;
            }
            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-left: 15px;
                vertical-align: text-bottom;
            }
            .info_name {
                font-size: 16px;
                font-weight: 400;
                margin-left: 15px;
            }
        }
    }
}
.content {
    width: 100%;
    height: calc(100vh - 53px);
    min-height: 614px;
    min-width: 1180px;
    @include clearFloat;
    .side_menu {
        width: 160px;
        height: 100%;
        box-sizing: border-box;
        float: left;
        background: #252830;
        padding: 25px 2px 0px;
        .avator {
            padding-bottom: 15px;
            text-align: center;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            p {
                font-size: 14px;
                color: #fff;
                text-align: center;
                font-weight: 200;
                margin-top: 20px;
            }
        }
        .menu {
            width: 100%;
            padding-top: 20px;
            text-align: left;
            li {
                padding: 15px 15px;
                color: rgb(98, 103, 111);
                i {
                    font-size: 17px;
                    margin-left: 10px;
                }
                span {
                    font-size: 14px;
                    margin-left: 10px;
                    a {
                        color: #62676f;
                    }
                }
                &:hover,
                &.cur {
                    background-color: rgb(33, 37, 44);
                    i {
                        color: rgb(121, 101, 195);
                    }
                    span {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .main {
        width: calc(100% - 160px);
        min-width: 1020px;
        float: left;
        height: 99%;
        overflow: scroll;
        background-color: #eef0f5;
        padding: 20px 30px;
        box-sizing: border-box;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            height: 50px;
            background-color: #d1d4db;
            border-radius: 5px;
        }
    }
}
