html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: #f6f6f8;
    color: #414a60;
    font-weight: 400;
}
body::-webkit-scrollbar {
    width: 3px;
}
body::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #d1d4db;
    border-radius: 5px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
    color: #414a60;
}
p {
    margin: 0;
    padding: 0;
}
.vline {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.dolt {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(206, 199, 199, 0.7);
}
.red {
    color: #fc703e !important;
}
.border {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #80ded4;
    position: absolute;
    bottom: 2px;
    left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
