@font-face {
  font-family: 'iconfont';  /* project id 2153384 */
  src: url('//at.alicdn.com/t/font_2153384_h89ee2k6kp5.eot');
  src: url('//at.alicdn.com/t/font_2153384_h89ee2k6kp5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2153384_h89ee2k6kp5.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2153384_h89ee2k6kp5.woff') format('woff'),
  url('//at.alicdn.com/t/font_2153384_h89ee2k6kp5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2153384_h89ee2k6kp5.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
}
