@font-face {
  font-family: 'iconfont';  /* project id 2153384 */
  src: url('//at.alicdn.com/t/font_2153384_r22ejxum3sb.eot');
  src: url('//at.alicdn.com/t/font_2153384_r22ejxum3sb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2153384_r22ejxum3sb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2153384_r22ejxum3sb.woff') format('woff'),
  url('//at.alicdn.com/t/font_2153384_r22ejxum3sb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2153384_r22ejxum3sb.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
}
