@font-face {
    font-family: "iconfont"; /* project id 2153384 */
    src: url("//at.alicdn.com/t/font_2153384_3oq1bskodud.eot");
    src: url("//at.alicdn.com/t/font_2153384_3oq1bskodud.eot?#iefix")
            format("embedded-opentype"),
        url("//at.alicdn.com/t/font_2153384_3oq1bskodud.woff2") format("woff2"),
        url("//at.alicdn.com/t/font_2153384_3oq1bskodud.woff") format("woff"),
        url("//at.alicdn.com/t/font_2153384_3oq1bskodud.ttf") format("truetype"),
        url("//at.alicdn.com/t/font_2153384_3oq1bskodud.svg#iconfont")
            format("svg");
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
}
