$main_font_color: #00d7c6;
$common_color: #414a60;
$main_width: 1190px;
@mixin inCenter {
    width: $main_width;
    margin: 0 auto;
}

@mixin clearFloat {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin ulReset {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin overFont {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
