@import '../../styleVarirable.scss';
.company_home {
    width: 100%;
    min-width: 1190px;
    .filter_box {
        width: 100%;
        background-color: #fff;
        .filter_condition {
            width: 1190px;
            min-width: 1190px;
            margin: 0 auto;
            padding: 30px 0;
            line-height: 25px;
            .filter_row {
                margin: 0 auto 13px;
                width: 1190px;
                @include clearFloat;
                .title {
                    float: left;
                    width: 70px;
                    color: #414a60;
                    font-weight: 500;
                    font-size: 14px;
                }
                .content {
                    display: block;
                    overflow: hidden;
                    margin-left: 70px;
                    font-size: 13px;
                    a {
                        display: inline-block;
                        margin-right: 6px;
                        padding: 0 8px;
                        color: #61687c;
                        transition: all .2s;
                        &:hover {
                            color: #00c2b3;
                        }
                        &.active {
                            color: #00c2b3;
                        }
                    }
                }
            }
        }
    }
    .company_tab_box {
        width: 1190px;
        margin: 20px auto 0px;
        overflow: hidden;
        .company_count {
            width: 1190px;
            margin: 0 auto;
            margin-bottom: 20px;
            padding-left: 3px;
            font-size: 14px;
            line-height: 26px;
            span {
                padding: 0 4px;
                color: #00c2b3;
            }
        }
        ul {
            width: 110%;
            @include clearFloat;
            li {
                height: 140px;
                width: 284px;
                float: left;
                margin: 0 16px 16px 0;
                background-color: #fff;
            }
        }
    }
    .page {
        width: 1190px;
        margin: 0 auto;
        height: 32px;
        margin-bottom: 10px;
        box-sizing: content-box;
        padding: 10px 0;
        background-color: #fff;
        position: relative;
        border-radius: 5px;
        .page_panel {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

:global {
    .pagination_panel {
        .ant-pagination-item:hover {
            border-color: #00c2b3!important;
            a {
                color: #00c2b3!important;
                .ant-pagination-item-container {
                    color: #00c2b3!important;
                }
            }
        }
        .ant-pagination-item-active {
            border-color: #00c2b3!important;
            a {
                color: #00c2b3!important;
            }
        }
        .ant-pagination-item-link:hover {
            border-color: #00c2b3!important;
            span {
                color: #00c2b3!important;
            }
        }
    }
}