.condition_box {
    margin-top: 10px;
    font-size: 12px;
    .condition_city,
    .condition_district {
        display: block;
        margin-bottom: 0;
    }
}
.city_wrapper,
.district_wrap {
    max-height: 40px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid #eef0f5;
    a {
        color: #414a60;
        border: none;
        cursor: pointer;
        display: inline-block;
        padding: 0px 12px;
        margin: 0;
        height: 38px;
        line-height: 38px;
        transition: all 0.2s;
        &:hover {
            color: #fc6c38;
        }
        &.cur_city {
            padding-left: 0px;
            color: #a3a8b3;
        }
        &.no_limit {
            color: #fc6c38;
            box-sizing: border-box;
            border: 1px solid #eef0f5;
            border-bottom: 1px solid #fff;
            margin: 0 15px;
        }
        &.all_city {
            float: right;
        }
    }
    i {
        padding: 0px 11px;
        color: #e1e2e5;
    }
    span {
        margin-left: 25px;
        margin-right: 11px;
    }
}
.district_wrap {
    .district_no_limit {
        padding-left: 0;
        &.cur_district {
            color: #fc6c38;
        }
    }
}