.job_sec {
    position: relative;
    h3 {
        font-weight: 700;
        font-size: 15px;
        color: #424a5e;
        line-height: 50px;
        margin-bottom: 5px;
        position: relative;
        box-sizing: content-box;
        padding-top: 5px;
    }
    .text {
        word-break: break-all;
        color: #61687c;
        line-height: 36px;
        font-size: 14px;
    }
    .look_more {
        color: #5dd5c8;
        position: absolute;
        bottom: 4px;
        right: 0;
    }
}
