@import "@/globalStyle.scss";
.sub_li {
    width: 284px;
    height: 140px;
    .company_info {
        height: 77px;
        margin: 0 20px;
        padding-top: 20px;
        box-sizing: content-box;
        border-bottom: 1px #ededed dashed;
        color: #414a60;
        display: block;
        @include clearFloat;
        &:hover {
            .company_text h4 {
                color: #00d7c6;
            }
        }
        img {
            height: 55px;
            width: 55px;
            float: left;
            border-radius: 10px;
            border: 1px solid #f2f5fa;
        }
        .company_text {
            margin-left: 65px;
            text-align: right;
            overflow: hidden;
            text-emphasis: ellipse;
            h4 {
                height: 25px;
                line-height: 25px;
                font-size: 16px;
                font-weight: 400;
                transition: all 0.2s;
                @include overFont;
            }
            p {
                height: 40px;
                line-height: 41px;
                color: #898e9d;
                font-size: 12px;
                display: inline-block;
                @include overFont;
            }
        }
    }
    .about_info {
        display: block;
        color: #8d92a1;
        height: 42px;
        line-height: 42px;
        font-size: 12px;
        p {
            width: 240px;
            margin: 0 auto;
            @include overFont;
            .h {
                color: #00c2b3;
                display: inline-block;
                vertical-align: top;
                max-width: 145px;
                margin: 0 3px;
                @include overFont;
            }
        }
    }
}
