@import '../../../styleVarirable.scss';

.sub_li {
    height: 130px;
    width: 386px;
    padding: 16px 20px;
    box-sizing: border-box;
    &:hover {
        .job_info {
            .sub_li_top {
                .name {
                    color: $main_font_color;
                }
            }
        }
    }
    .job_info {
        display: block;
        width: 100%;
        color: #414a60;
        position: relative;
        .sub_li_top {
            color: #3f3f41;
            height: 25px;
            .name {
                @include overFont;
                float: left;
                font-size: 15px;
                margin-right: 8px;
            }
            .chat {
                float: left;
                color: $main_font_color;
                margin-top: 4px;
            }
            .salary {
                float: right;
                font-size: 15px;
                color: #fd7240;
                line-height: normal;
                text-align: right;
            }
        }
        .job_text {
            font-size: 13px;
            color: #8d92a1;
            line-height: 28px;
            text-align: left;
        }
    }
    .sub_li_bottom {
        border-top: 1px solid #eef0f5;
        margin-top: 8px;
        padding-top: 12px;
        .user_info {
            color: #414a60;
            img {
                width: 30px;
                height: 30px;
                vertical-align: middle;
            }
        }
        .company_info {
            font-size: 13px;
            color: #8d92a1;
            @include overFont;
            .com_name {
                margin-left: 10px;
                margin-right: 20px;
                color: #61687c;
                max-width: 140px;
                @include overFont;
            }
            .type {
                max-width: 90px;
                @include overFont;
            }
        }
    }
}
