.job_manage {
    .job_edit {
        margin-bottom: 15px;
        background-color: #fff;
        padding: 20px 40px;
        padding-bottom: 40px;
        .job_container {
            padding-top: 10px;
            padding-bottom: 17px;
            padding-left: 39px;
            h3 {
                font-size: 16px;
                font-weight: normal;
            }
            .form_row {
                padding: 13px 0 10px 25px;
                white-space: nowrap;
                .title {
                    display: inline-block;
                    vertical-align: top;
                    color: #9fa3af;
                    width: 98px;
                    text-align: right;
                }
                .content {
                    display: inline-block;
                    vertical-align: top;
                    color: #414a60;
                    white-space: normal;
                    position: relative;
                    .ipt_wrap {
                        display: inline-block;
                        margin-top: -3px;
                        position: relative;
                        .ipt {
                            background-color: #fff !important;
                            cursor: default !important;
                            opacity: 1;
                            border-color: #e3e7ed;
                            padding-right: 12px;
                            padding-left: 12px;
                            min-width: 0;
                            width: 474px;
                            padding: 5px 12px 5px 7px;
                            min-height: 22px;
                            line-height: 22px;
                            border: 1px solid #e3e7ed;
                            vertical-align: middle;
                            outline-color: #2cd7c8;
                        }
                    }
                    .textarea_wrap {
                        position: relative;
                        display: inline-block;
                        textarea {
                            height: 180px;
                            width: 474px;
                            padding-right: 12px;
                            resize: auto;
                            padding-bottom: 24px;
                            padding-left: 12px;
                            min-width: 0;
                            padding: 5px 12px 5px 7px;
                            min-height: 22px;
                            line-height: 22px;
                            border: 1px solid #e3e7ed;
                            vertical-align: middle;
                        }
                        .count_num {
                            position: absolute;
                            bottom: 2px;
                            right: 15px;
                            font-size: 12px;
                            background-color: rgba(255, 255, 255, 0.9);
                            span {
                                color: #5dd5c8;
                            }
                        }
                    }
                }
            }
        }
        .form_btn {
            padding-bottom: 12px;
            .btns {
                width: 132px;
                margin: 0 auto;
                button {
                    display: inline-block;
                    padding: 0 30px;
                    line-height: 32px;
                    background-color: #5dd5c8;
                    border: 1px solid #5dd5c8;
                    color: #fff;
                    font-size: 14px;
                    vertical-align: middle;
                    cursor: pointer;
                    outline-color: #2cd7c8;
                }
            }
        }
    }
}
