@import '../../../styleVarirable.scss';
.filter_select_box {
    height: 40px;
    font-size: 12px;
    @include clearFloat;
    .dropdown_wrap {
        width: 160px;
        float: left;
        position: relative;
        @include clearFloat;
        .dropdown_select {
            width: 75px;
            min-width: 75px;
            padding-left: 3px;
            border: none;
            padding-top: 5px;
            font-size: 12px;
            padding-bottom: 3px;
            text-align: left;
            line-height: 35px;
            color: #414a60;
            float: left;
        }
        i {
            line-height: 35px;
            float: left;
            margin-right: 15px;
            padding-top: 6px;
            transform: scale(0.5);
        }
        .dropdown_menu {
            position: absolute;
            width: 100%;
            left: 0;
            top: 40px;
            ul {
                width: 100%;
                cursor: pointer;
                max-height: 400px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
                overflow: auto;
                border: 1px solid #e3e7ed;
                padding: 0;
                margin: 0;
                list-style: none;
                background-color: #fff;
                position: relative;
                z-index: 999;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    height: 50px;
                    background-color: #d1d4db;
                    border-radius: 5px;
                }
                li {
                    line-height: 42px;
                    padding: 0 15px;
                    cursor: pointer;
                    color: #8d92a1;
                    &:hover {
                        background-color: #f2f5f9;
                    }
                }
            }
        }
    }
    .clear_condition {
        float: right;
        color: #414a60;
        line-height: 40px;
    }
}
